@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');




* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



:root {

        --ligth-purple-color:#8854c8;
        --ligh-color:#fff;
        --dark-color:#000;
        --grey-color:f2f2f2;
        --transition: all 300ms ease-in-out;
}

body {

    font-family: 'poppins', sans-serif;


}